<app-page-title
    [pageTitle]="'Suas aulas'"
    [returnLink]="'/'"
></app-page-title>

<div class="categories">
    <span class="categories__title text-preset-400">Categorias</span>
    <div class="categories-chips">
        <app-chip [isActive]="true" [label]="'Guitarra'"></app-chip>
        <app-chip [isActive]="false" [label]="'Piano'"></app-chip>
        <app-chip [isActive]="false" [label]="'Violão'"></app-chip>
    </div>
</div>
<app-next-class></app-next-class>
<app-classes-history></app-classes-history>
<app-classes-history></app-classes-history>