<div class="page-header">
    <div class="welcome-message">
        <span class="text-preset-500 welcome-message__welcome">Boas vindas!</span>
        <span class="text-preset-300 welcome-message__username">Ayrton Peres</span>
    </div>
    <img alt="" class="profile-picture" src="">
</div>
<div class="lets-start">
    <span class="lets-start__title text-preset-620">Vamos começar</span>
    <span class="lets-start__subtitle text-preset-260">Como podemos te ajudar hoje?</span>
</div>
<div class="modules">
    <app-module-button
        [description]="'Veja todos os anúncios em relação ao funcionamenot da escola.'"
        [icon]="'icon-warning'"
        [title]="'Avisos'"
    ></app-module-button>
    <app-module-button
        [description]="'Acesse apostilas, vídeos e outros conteúdos a respeito das suas aulas.'"
        [icon]="'icon-material'"
        [routerLink]="'/material'"
        [title]="'Material'"
    ></app-module-button>
    <app-module-button
        [description]="'Acesse seus dados pessoais e informações sobre os seus planos'"
        [icon]="'icon-user'"
        [title]="'Perfil'"
    ></app-module-button>
    <app-module-button
        [description]="'Não deu pra vir no dia marcado? Solicite um regendamento.'"
        [icon]="'icon-calendar'"
        [title]="'Reagendar aula'"
    ></app-module-button>
    <app-module-button
        [description]="'Saiba mais sobre quem somos e sobre as nossas aulas'"
        [icon]="'icon-about'"
        [routerLink]="'/about'"
        [title]="'Sobre a escola'"
    ></app-module-button>
    <app-module-button
        [description]="'Confirme sua presença para as próximas aulas, ou solicite um regendamento'"
        [icon]="'icon-classes'"
        [routerLink]="'/your-classes'"
        [title]="'Suas aulas'"
    ></app-module-button>
</div>