:host {
    display: contents;
}

.fields-and-instructions__fields {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.didnt-received-the-code {
    color: var(--c-dark-60);
}

.didnt-received-the-code__touch-here {
    color: var(--c-primary-90);
}

.buttons-row {
    display: contents;
}

.buttons-row > .secondary {
    width: auto;
}