<div class="divider">
    <span class="divider__label text-preset-210">Fevereiro/2022</span>
    <div class="divider__horizontal-line"></div>
</div>

<div class="classes">
    <span class="cell text-preset-300">01/02</span>
    <span class="cell text-preset-300">16:00 - 17:00</span>
    <span class="cell text-preset-300">
        <div class="day__status present"></div>
        <span>Presente</span>
    </span>
    <span class="justification-cell text-preset-210">
        Motivo: Estava chovendo muito, não deu pra ir, remarca pro dia de são nunca a tarde, por favor.
    </span>
    <span class="cell text-preset-300">01/02</span>
    <span class="cell text-preset-300">16:00 - 17:00</span>
    <span class="cell text-preset-300">
        <div class="day__status present"></div>
        <span>Presente</span>
    </span>
</div>