<div class="course global-shadow">
    <span class="course__title text-preset-300">Guitarra</span>
    <div class="course__info">
        <div class="info__icon">
            <span class="icon-rocket"></span>
        </div>
        <div class="info__data">
            <span class="data__title text-preset-210">Início do plano</span>
            <span class="data__description text-preset-210">21/06/2022</span>
        </div>
    </div>
    <div class="course__info">
        <div class="info__icon">
            <span class="icon-clock"></span>
        </div>
        <div class="info__data">
            <span class="data__title text-preset-210">Vencimento</span>
            <span class="data__description text-preset-210">21/09/2022</span>
        </div>
    </div>
    <div class="course__info">
        <div class="info__icon">
            <span class="icon-money"></span>
        </div>
        <div class="info__data">
            <span class="data__title text-preset-210">Valor</span>
            <span class="data__description text-preset-210">{{ 900 | currency }}</span>
        </div>
    </div>
</div>

