<app-page-title [pageTitle]="'Meu perfil'" [returnLink]="'/'"></app-page-title>
<div class="user-data">
    <div class="user-data__photo-wrapper">
        <div class="photo-wrapper__edit-button">
            <span class="icon-edit"></span>
        </div>
        <div class="photo-wrapper__user-photo">
            <img alt="Foto do usuário" src="">
        </div>
    </div>
    <div class="user-data__user-name-and-email">
        <span class="text-preset-400 user-data__user-name">Ayrton Peres</span>
        <span class="text-preset-310 user-data__user-email">ayrton.peres@gmail.com</span>
    </div>
</div>
<div class="courses">
    <app-course></app-course>
    <app-course></app-course>
    <app-course></app-course>
    <app-course></app-course>
    <app-course></app-course>
    <app-course></app-course>
</div>