<div class="global-shadow next-class">
    <div class="next-class__info">
        <span class="info__title text-preset-300">Próxima aula</span>
        <span class="info__description text-preset-260">22/06/2022 - 16:00 às 17:00</span>
    </div>
    <span class="next-class__confirmation text-preset-260">
        Deseja confirmar sua presença ou adiar para outro dia?
    </span>
    <div class="next-class__buttons-row">
        <app-small-button [label]="'Adiar'" [type]="'primary-white'"></app-small-button>
        <app-small-button [label]="'Confirmar'"></app-small-button>
    </div>
</div>