<app-page-title [pageTitle]="'Cadastro'" [returnLink]="this.returnLink"></app-page-title>
<div class="content">
    <div class="fields-and-instructions">
        <div class="fields-and-instructions__instructions">
            <span class="instructions__title text-preset-510">{{this.instructionsTitle}}</span>
            <span class="instructions__description text-preset-310">{{this.instructionsDescription}}</span>
        </div>
        <ng-content select="[content]"></ng-content>
    </div>
    <div class="buttons-row">
        <ng-content select="[buttons]"></ng-content>
    </div>
</div>