:host {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.return-button {
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 44px;
    justify-content: center;
    width: 44px;
}

.icon-chevron-left {
    color: var(--c-dark-100);
    font-size: 24px;
}

.page-title {
    color: var(--c-dark-80);
}

.return-button.invisible {
    opacity: 0;
}