/* You can add global styles to this file, and also import other style files */

@import url("./reset.css");
@import url("./icomoon.css");

:root {
    --c-dark-10: rgba(0, 0, 0, 0.1);
    --c-dark-40: rgba(0, 0, 0, 0.4);
    --c-dark-50: rgba(0, 0, 0, 0.5);
    --c-dark-60: rgba(0, 0, 0, 0.6);
    --c-dark-80: rgba(0, 0, 0, 0.8);
    --c-dark-100: #000000;
    --c-green-60: #49AA19;
    --c-primary-90: #111D50;
    --c-red-60: #D50000;
    --c-yellow: #F39C11;
    --c-white-10: #FFFFFF;
    --c-white-20: #F4F4F4;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Roboto';
    font-style: normal;
    min-height: 100%;
    overflow: auto;
    width: 100%;
}

.global-shadow {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.text-preset-210 {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.text-preset-260 {
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
}

.text-preset-310 {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.text-preset-320 {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
}

.text-preset-510 {
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
}