:host {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.field-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.field-group__label-wrapper {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.label-wrapper__left-border {
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: var(--c-dark-10);
    border-radius: 4px 0px 0px 0px;
    height: 8px;
    width: 16px;
}

.label-wrapper__label {
    color: var(--c-dark-60);
    padding: 0px 4px;
}

.label-wrapper__right-border {
    border-width: 1px 1px 0px 0px;
    border-style: solid;
    border-color: var(--c-dark-10);
    border-radius: 0px 4px 0px 0px;
    flex: 1;
    height: 8px;
}

.field-group__input-wrapper {
    border-color: var(--c-dark-10);
    border-radius: 0px 0px 4px 4px;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    padding: 8px 16px 16px;
    width: 100%;
}

input {
    border: none;
    color: var(--c-dark-80);
    outline: none;
    width: 100%;
}

.error-message {
    color: var(--c-red-60);
    padding-left: 16px;
}